@font-face {
  font-family: "GoogleRubikViny";
  src: url(./assets/fonts/RubikVinyl/RubikVinyl-Regular.ttf);
}

@font-face {
  font-family: "GoogleSecularOne";
  src: url(./assets/fonts/SecularOne/SecularOne-Regular.ttf);
}

:root {
  --font-GoogleRubikViny: "GoogleRubikViny";
  --font-GoogleSecularOne: "GoogleSecularOne";
}
